* {
	
	font-family: 'Poiret One', cursive;
}
 body {
 	background-color: #FAEBD7;
 }
.navbar {
	background-color: #cfb89b;
	margin: 0 0 25px 0;
}

.navbar-brand {
	margin: 0;
	padding: 0 15px 0 30px;
}

.logo {
	margin-top: -50px;
	opacity: .9;
}

.jumbotron {
	font-size: 3em;
	margin: 0;
	background-color: #FAEBD7;
}

.container {
	width: 85%;
}